<!DOCTYPE html>
<html>
	<head>
		<title>Community Board for Event Listings</title>
	</head>
	<body>
		<h1>List Your Event Here</h1>
		<h3>Signup</h3>
		<h3>Logon</h3>
		<h3>Upcoming Events:</h3>
		<table>

				<% posts.forEach( function ( post ) { %>
					<tr>
						<td> <a href="<%= post.dataValues.eventURL %>"><%= post.dataValues.eventName %></a> </td><td></td><td></td>	
						<td> <%= post.dataValues.eventLocation %> </td><td></td><td></td>
						<td> <%= post.dataValues.eventCityAndState %> </td><td></td><td></td>
						<td> <%= post.dataValues.eventDate %> </td><td></td><td></td>
						<td> <%= post.dataValues.eventTime %> </td><td></td><td></td>
						<td> <%= post.dataValues.eventCost %> </td><td></td><td></td>
					</tr>
				<% }) %>
		</table>
	</body>
</html>